html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right,#20bf55, #01baef);  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
}

body.main_page {
    background: linear-gradient(to bottom right,#20bf55, #01baef);  
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15%;
    font-family: sans-serif;
    text-align: center;
}

img {
    width: 500px;
    border-radius: 30px;
}

h1 {
    font-weight: bold;
    font-size: 250%;
}

.container {
    padding: 20px;
}

.container_child {
    display: inline-block;
    width: 200px;
    border: 5px solid white;
    padding: 5px;
    margin: 20px;
}

.container_child:hover {
    cursor: pointer;
}

button {
    background-color: #2E1760;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}